*{
    margin: 0;
    padding:0;

}
html{
    background-color: #c0c0c0;
    font-size: 62.5%;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
.imagenLogo{
    width: 10%;
    padding-top: 2%;
}
h1{
    text-align: center;
    font-size: 800%;
    font-weight: lighter;
    padding-top: 2%;
    padding-left: 15%;
} 
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;
}

nav{
    background-color: #989898;
    font-weight: bold;
    font-size: 150%;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    text-decoration: none;
    list-style: none;
   
}
ul{
    list-style: none; 
    text-decoration: none

}

li{
    display: inline-block;
    width: 18%;
    position: relative;
    font-size: 150%;
}

li a {
    text-decoration: none;
    list-style-type: none;
    color: black;
    width: 200%;
}
ul ul {
    position: absolute;
    display: none;
}

ul ul li {
    display: block;
    font-size: 80%;
}

ul li:hover ul  {
    display: block;
    background-color: #989898;
}
li a:hover {
    background-color: #b6b5b5;

}
h2{
    font-weight: bold;
    font-size: 270%;
    padding-right: 5%;
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 3%;
    width: 100%;
    color: rgb(0, 0, 0) ;
}

.divImagenes{
    width: 95%;
    height: 475%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2%;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    align-content: stretch;
    padding-left: 2.5%;
    padding-bottom: 13%;
    }
.imagen{
    width: 100%;
    justify-self: stretch;
}

footer{
    background-color: #989898;
    font-size: 250%;
}
.imagenFooter{
    width: 2%;

}